<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654777386985-c96qob6j49q07i9ilk1llgkd5a9p5mb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654777386985-c96qob6j49q07i9ilk1llgkd5a9p5mb7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>654777386985-7tt6pf2q7ebc0h04f01gd1tug3bejbeu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbBzQZlF6OMxkolo4DbrsWVESOYT4AXlg</string>
	<key>GCM_SENDER_ID</key>
	<string>654777386985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.googleexam.googleExam</string>
	<key>PROJECT_ID</key>
	<string>example-560d7</string>
	<key>STORAGE_BUCKET</key>
	<string>example-560d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654777386985:ios:4f391a34550373dfeb2d78</string>
	<key>DATABASE_URL</key>
	<string>https://example-560d7-default-rtdb.firebaseio.com</string>
</dict>
</plist>